<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMN-Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>
    <h1>Welcome to My Portfolio</h1>
</header>

<section>
    <h2>About Me</h2>
    <p>My name is Amir Mostafavi Nejad<br>I'm Golang Developer.</p>
</section>

<section>
    <h2>Go lang. Projects</h2>
    <ul>
        <li><a href="https://github.com/AMiR-MN95/ToDoCLI">To Do List</a></li>
        <li><a href="https://github.com/AMiR-MN95/Password_Generator">Password Generator</a></li>
        <!-- Add more projects as needed -->
    </ul>
</section>

<section>
    <h2>Contact</h2>
    <p>Email: Amir.MostafaviNejad@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/amir-mn95/">My LinkedIn Profile</a></p>
</section>

<footer>
    <p>&copy; 2023 AMiR MN</p>
</footer>
</body>
</html>
